/* Global Styles */
*,
html {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 100;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template: repeat(20, auto) / repeat(12, 1fr);
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
}

nav {
  justify-self: end;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  flex-basis: 20px;
}

.mobile-menu i {
  font-size: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
  padding-left: 1.5em;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: space-between;
  }
  header nav {
    display: none;
    position: absolute;
    top: 90px;
    width: 100%;
    height: auto;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu i {
    padding-right: 0.5em;
    color: #fff;
  }

  nav a {
    display: block;
    padding: 16px 0;
    padding-left: 23px;
  }
}

/* Page Main Content */

/* Feature Section */
#feature {
  background-image: url("https://www.spacex.com/static/images/backgrounds-new/Turk5A-3302.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 1 / 1 / 6 / 13;
  width: 100%;
  height: 100vh;
}

.feature-inner {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}

.right-btn {
  position: absolute;
  bottom: 15%;
  right: 50px;
  max-width: 500px;
  height: auto;
}

.btn {
  border: 1px solid #fff;
  position: relative;
  color: #fff;
  padding: 1em 2em;
  text-decoration: none;
  margin-top: 1em;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

/* Mission Section */
.mission {
  position: relative;
  background-image: url("https://www.spacex.com/static/images/backgrounds-new/Starshipascent.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: 6 / 1 / 11 / 13;
  height: 100vh;
}

.mission-inner {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}

.left-btn {
  position: absolute;
  bottom: 15%;
  left: 50px;
}

/* Team Section */
.team-section {
  grid-area: 11 / 1 / 21 / 13;
  display: grid;
  grid-template: 10% auto auto / repeat(3, 1fr);
  text-align: center;
  grid-gap: 1em;
  margin-bottom: 1em;
}

.team-section h2 {
  grid-area: 1/1/2/4;
  line-height: 1.6;
}

.team-container {
  grid-area: 2/1/3/4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.teamate {
  flex-basis: 300px;
  max-height: 450px;
}

@media only screen and (max-width: 700px) {
  .team-section {
    grid-template-rows: 5% auto auto;
  }
}

/* Footer */
footer {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #000;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: gray;
  margin-top: 2em;
}

footer i {
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;
  background-color: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  padding: 0.8rem;
}

.back-to-top {
  display: none;
}
